STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

DATABASE_URL=postgresql://...

GOOGLE_MAPS_API_KEY=AIzaSy...

# Email Configuration
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=support@gamegroundz.com
SMTP_PASS=...

# Admin Emails (Comma separated)
ADMIN_EMAILS=admin@example.com,support@gamegroundz.com

# Server configuration
PORT=3000
SESSION_SECRET=your-secret-here
ALLOWED_ORIGINS=http://localhost:3000
